.container-fluid {
    background-color: rgb(223, 247, 239);
}

.container-fluid>.row>ul {
    background-color: rgb(187, 211, 255);
}

ul.menu>li a {
    color: black;
}

tr {
    text-align: center;
}

.menu {
    color: black;
}

footer {
    background-color: rgb(223, 247, 239);
}

footer .footer_links {
    margin-left: 12%;
}

.copyright {
    background-color: rgb(187, 211, 255);
    color: black;
    font-size: 15px;
}

#main>div {
    color: black;
}

del {
    color: red;
}

footer .footer_links ul li a {
    color: black;
}

@media (max-width: 768px) {
    .caja {
        float: left;
        width: 100%;
    }
    tr {
        font-size: 10px;
    }
}